*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-navbar{
    display: none;
}
.boton:hover{
    background-color: #0022AA;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
.main-header{
    padding: 20px;
}
.logo{
    width: 200px;
}
.mano{
    font-weight: 400;
    text-align: center;
}
h3{
    font-size: 24px;
}
p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;
}
header{
    background-color: #EAC926;
}
header div.logo{
    width: 50%;
}
header div.logo{
    padding: 10px;
}
.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
header nav{
    font-size: 12px;
}
header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}
header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
div.burger-menu{
    text-align: center;
}
div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
.price{
    width: 30%;
    font-size: 18px;
}
.discount{
    width: 70%;
}
.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}
h3,
.description{
    color: #666;
}
.description{
    display: none;
    margin-top: 20px;
}
section.banner img{
    width: 100%;
}
main{
    width: 90%;
    margin: 0 auto;
}
main section article{
    background-color: #fff;    
    margin: 10px 0px;
}
main section article img{
    width: 100%;
}
main section article i,
.discount{
    color: #39b54a;
}
main section article i{
    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}
.flex-container{
    display: flex;
}
main section h3{
    margin: 20px 0px;
}
article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
.fa-truck{
    position: relative;
}
.products{
    display: flex;
    flex-direction: column;
}
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    justify-content: space-between;
    padding: 20px
}
footer p {
    margin: 40px
}
footer {
    size: 2em;
    margin-bottom: 10px;
}
.icon {
    color: blue;
    font-size: 2em;
}
.copy {
    margin: 0;
    text-align: left;
}
.create-form {
    padding: 20px 15px;
}
.controlForm{
    margin-bottom: 15px;
}
.controlForm label {
    margin-bottom: 5px;
    display: block;
}
.control{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}
.cat{
    padding-top: 8px;
}
.boton{
    background-color: #1259c3;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
@media (min-width: 425px){
    main section article .description{
        display: block;
    }

    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0px 5px;
    }
    .mano{
        max-width: 300px;
        text-align: right;
    }
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .products article{
        width: 45%;
    }
    div.burger-menu{
        display: none;
    }
    
}
@media (min-width: 769px){
    .products article {
        width: 20%;
    }
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .mano{
        max-width: none;
        font-size: 18px;
    }
}